{% extends 'base.html' %}

{% block head %}
<title>Edit Details</title>
{% endblock%}


{% block body %}
<div class="blur-body">
    <div class="body-container">
        <div class="inner-container">
            <div class="inner-item">
                <div class="inner-icons">
                    <a href="/delete/{{ job[0] }}" class="remove-btn" title="Remove this application"  onclick="return confirmDelete();">
                        <i class="fa-regular fa-trash-can"></i></a>
                    <a href="/dashboard/{{ job[0] }}" class="remove-btn">
                        <i class="fa-solid fa-right-to-bracket"></i></a>
                </div>
                <br>
                <br>
                <form method="post" class="modal-form" action="/edit/{{job[0]}}">

                    <div class="modal-input">
                        <input type="date" id="date" name="date" placeholder="Select Date" value="{{ job[9] }}" required/>
                    </div>

                    <div class="modal-input">
                        <input type="text" id="company" name="company" placeholder="Company Name" value="{{ job[2] }}" required/>
                    </div>
    
                    <div class="modal-input">
                        <input type="text" list="jobTitles" id="jobTitle" name="jobTitle" placeholder="Job title" value="{{ job[3] }}" required/>
                        <datalist id="jobTitles">
                            <option value="Web Developer">
                            <option value="Front-end Developer">
                            <option value="Back-end Developer">
                            <option value="React Developer">
                            <option value="Full-Stack Developer">
                        </datalist>
                    </div>
                   
                    <div class="modal-input">
                        <p>Job Description :</p>
                        <textarea type="text" id="description" name="description" placeholder="Job Description" oninput="autoGrow(this)" required>{{ job[4] }}</textarea>
                    </div>
                    
                    <div class="modal-input">
                        <p>Job Requirements :</p>
                        <textarea type="text" id="requirement" name="requirement" placeholder="Job Requirements" oninput="autoGrow(this)" required>{{ job[5] }}</textarea>
                    </div>

                    
                    <div class="modal-input">
                        <input type="text" list="platforms" id="platform" name="platform" placeholder="Platform" value="{{ job[8] }}" required/>
                        <datalist id="platforms">
                            <option value="Linkedin">
                            <option value="Indeed">
                            <option value="Naukri">
                        </datalist>
                    </div>

                    <div class="modal-input">
                        <input type="text" list="statuses" id="status" name="status" placeholder="Status" value="{{ job[6] }}" required/>
                        <datalist id="statuses">
                            <option value="Applied">
                            <option value="Rejected">
                            <option value="Interview">
                        </datalist>
                    </div>

                    <div class="modal-input">
                        <input type="text" id="follow-up" name="follow-up" placeholder="Follow Up" value="{{ job[7] }}" required/>
                    </div>
                
                    <button type="submit" class="btn">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    // textarea height --------------------------------
    function autoGrow(element) {
        element.style.height = "auto"; 
        if (element.scrollHeight <= parseInt(getComputedStyle(element).maxHeight)) {
            element.style.height = element.scrollHeight + "px"; 
        } else {
            element.style.height = getComputedStyle(element).maxHeight; 
        }
    }

    function confirmDelete() {
        return confirm("Are you sure you want to delete this application?");
    }
</script>
{% endblock%}