{% extends 'base.html' %}

{% block head %}
<title>Sign-up</title>
{% endblock%}


{% block nav %}
{% endblock %}


{% block body %}
    <div class="form-container">
        <form method="post" class="form" action="{{ url_for('register') }}">
            <h1>Register</h1>
            <div class="input-form">
                <input type="hidden" id="usernames" name="usernames" value="{{usernames}}"/>
                <input type="text" id="username" name="username" placeholder="Enter your name" required/>
                <span id="username-status"></span>
            </div>
            <div class="input-form">
                <input type="text" id="email" name="email" placeholder="Enter your email" required/>
            </div>
            <div class="input-form">
                <input type="password" id="password" name="password" placeholder="Create a password" required/>
                <i class="fa-solid fa-eye-slash" id="togglePassword"></i>
                <i class="fa-solid fa-eye" id="togglePasswordVisible" style="display:none;"></i>
            </div>
        
            <button type="submit" class="btn">Register</button>

            <div class="reg-link">
                <p>Already have an account?<a href="/"> Sign in.</a></p>
            </div>  
        </form>
        
    </div>

    <script>
        // username check
        const usernamesId = document.getElementById('usernames');
        const usernames = usernamesId.value
        console.log(usernames)
        const usernameInput = document.getElementById('username');
        const statusText = document.getElementById('username-status');

        usernameInput.addEventListener('input', function() {
            const inputValue = usernameInput.value.trim();
            
            if (usernames.includes(inputValue)) {
                statusText.textContent = "Username unavailable";
                statusText.classList.remove('username-available');
                statusText.classList.add('username-taken');
            } else {
                statusText.textContent = "Username available";
                statusText.classList.remove('username-taken');
                statusText.classList.add('username-available');
            }
        });



        // Toggle password visibility
        const passwordInput = document.getElementById('password');
        const togglePassword = document.getElementById('togglePassword');
        const togglePasswordVisible = document.getElementById('togglePasswordVisible');
    
        togglePassword.addEventListener('click', function () {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
    
            togglePassword.style.display = 'none';
            togglePasswordVisible.style.display = 'inline';
        });
    
        togglePasswordVisible.addEventListener('click', function () {
            passwordInput.setAttribute('type', 'password');
    
            togglePasswordVisible.style.display = 'none';
            togglePassword.style.display = 'inline';
        });
    
    </script>
{% endblock%}